<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    {% for menu in liste %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path(menu.path) }}">
          {{ menu.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
